

- membership = @membership || Membership.new

#membership
  #header
    %h1
      Team Members
    #filters
      = link_to [:edit, current_hotel] do
        %i.icon-home
        Hotel Information
      = link_to edit_user_registration_path do
        %i.icon-user
        Edit User Information
      = link_to [current_hotel, :memberships], :class => 'on' do
        %i.icon-user
        Team Members

  = render "/memberships/index/index"
