
%p
  Welcome to MadBooker!

%p
  #{@from.name} has invited you to join the #{@hotel.name} team on madbooker.com. Just #{link_to "sign up", guid_invited_url(@membership.guid)} with this email address "#{@membership.email}" and you'll be all set.

%p
  See you online.

%p
  Your friends at MadBooker

