#header
  %h1
    Manage Inventory

  #filters
    = @calendar.previous_year_link
    = @calendar.next_year_link
  = render "/inventories/calendar/date_pickers", for_month: false


#instructions
  To manage or changes rates and inventory, you can use the filters above or the calendar below. Click on a date below, and then drag the cursor to select a date range.
#calendar_year

  - 1.upto(12) do |i|
    / style info: http://rubydoc.info/github/topfunky/calendar_helper/master/CalendarHelper:calendar
    .calendar_month
      = calendar(:show_other_months => false, :year => @calendar.date.year, :month => i, :first_day_of_week => 0, :day_class => "day day_selectable") do |d|
        - render "inventories/calendar/day", date: d, show_details: false
    

#inventories_form

  