
- unless g_authed?
  - if current_hotel.google_analytics_code.blank?
    = link_to "Please add your Google Analytics code to your settings", [:edit, current_hotel]
  - elsif current_hotel.gauth_access_token.blank?
    = link_to "Authenticate with Google Analytics", [:google_auth, current_hotel, :reports]
  
- else
  = link_to "Remove Google Analytics Authentication", [:remove_google_auth, current_hotel, :reports], method: :delete
