
#header
  %h1
    Existing Package Amenity
  = link_to [:new, current_hotel, :add_on], :class=>'create' do
    %i.icon-plus
    Create Package Amenity

#data
  %table.standard
    %thead
      %tr
        %th Name
        %th Description
        %th Price
        %th
    %tbody
      - @add_ons.each do |add_on|
        = render "/add_ons/index/row", add_on: add_on
        
    - if @add_ons.total_pages > 1
      %tfoot
        %tr
          %td{colspan: 4}
            = will_paginate @add_ons
        