
.pricing_holder
  - if room.discounted_rate.nil? && @booking.nights == 1
    = render "books/steps/price_for_no_discount_and_single_night", room: room
    
  - elsif room.discounted_rate.nil? && @booking.nights > 1
    = render "books/steps/price_for_no_discount_and_multiple_nights", room: room
    
  - elsif !room.discounted_rate.nil? && @booking.nights == 1
    = render "books/steps/price_for_discount_and_single_night", room: room
    
  - elsif !room.discounted_rate.nil? && @booking.nights > 1
    = render "books/steps/price_for_discount_and_multiple_nights", room: room
