
.pricing_holder
  - if room.discounted_rate.nil?
    .row
      .label
        Room Rate:
      .price= format room.rate * @booking.nights
  - else
    .row
      .label
        Original Room Rate:
      .old_pice
        %strike= format room.rate * @booking.nights
    .row
      .label
        Discounted Room Rate:
      .price= format room.discounted_rate * @booking.nights
