
.pricing_holder
  - if room.discounted_rate.nil?
    .row
      .label
        Room Rate:
        .price= room.rate
  - else
    .row
      .label
        Original Room Rate:
      .old_pice= room.rate
    .row
      .label
        Discounted Room Rate
      .price= room.discounted_rate
