
#step1.steps

  .step_header
    %span.step 
      %i.icon-calendar
      Step 1
    %span.step_title Choose Your Dates
  .step_content
    = simple_form_for @booking, url: select_dates_book_path, remote: true do |f|
      = f.input :arrive, as: "string", required: true, input_html: { size: 15 }, :placeholder => "click for date"
      = f.input :depart, as: "string", required: true, input_html: { size: 15 }, :placeholder => "click for date"
      .form_action
        = f.submit "Search Availability"
    .clear
    .message

