
= link_to "Add a new Amenity", [:new, current_hotel, :amenity]

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Price
      %th
  %tbody
    - @amenities.each do |amenity|
      = render "/amenities/index/row", amenity: amenity
  %tfoot
    %tr
      %td{colspan: 4}
        = will_paginate @amenities
      