#header
  %h1
    Find a Booking

  = render "/bookings/index/nav"

#data
  - if @bookings 
    - if @bookings.blank?
      No inventory for that day.
    -else
      %h2
        Search Results
      = render "/bookings/index/booking", booking: @bookings




