#header
  %h1
    Find a Booking

  = render "/bookings/index/nav"

#data
  - if @bookings 
    - if @bookings.blank?
      No bookings in the system for 
      - if params[:date].blank?
        today.
      - else
        =params[:date]
    -else
      %h2
        Search Results
      = render "/bookings/index/booking"




