#header
  %h1
    No Shows

#data
    
  - if @bookings.blank?
    No No-shows
    
  #today
    - @bookings.each do |booking|
      = render "/check_ins/index/booking", booking: booking
      
      