
#header
  %h1
    Find a Booking

  = render "/bookings/index/nav"


#data

  - if @bookings.blank?
    We couldn't find anything for "#{params[:q]}." Try something else.


  %h2
    Search Results
  = render "/bookings/index/booking"
            
  = will_paginate @bookings


