
#header
  %h1
    Find a Booking

  = render "/bookings/index/nav"


#data

  - if @bookings.blank?
    We couldn't find anything for "#{params[:q]}." Try something else.


  %h2
    Search Results
  - @bookings.each do |booking|  
    = render "/bookings/index/booking", booking: booking
            
  = will_paginate @bookings


