
%p
  Uh-oh! The credit card you have on file with Madbooker was declined. Could happen to anyone. Please sign in and make sure we have the correct card number and expiration date. Let us know if you need help.

%p
  Thanks!
  %br  
  Your friends at Madbooker