
%p
  Hmmm. There still seems to be a problem with the credit card you have on file with MadBooker. It was declined again.

%p
  This is your chance to make sure your account stays open. If we don’t receive payment within 7 days, your account will automatically be closed, and all your data will be removed from the system.

%p
  We really don’t want to see you go! Please log in to update your credit card information, or contact us for help.

%
  Thanks!
  %br
  Your friends at MadBooker