%p
  Hmmm. There still seems to be a problem with the credit card you have on file with Madbooker. It was declined again. 

%p
  In 7 days, we’ll try one more time. If it works, you’re back in business. If it’s declined a third time, we’ll have to suspend your account until we receive payment. 

%p
  We like having you around, so please remember to log in and update your payment information. Contact us if you need help. 

%p
  Thanks!
  %br
  Your friends at Madbooker
