%p
  Oops. The credit card you have on file with Madbooker has been declined for a third time. Your Madbooker account is now suspended. Please log in and update your payment information at your earliest convenience so you can start using Madbooker again. 

%p
  We’d love to see you back. Please contact us if we can help. 

%p
  Thanks!
  %br
  Your friends at Madbooker
