
%p
  Oh no! The credit card you have on file with MadBooker has been declined for a third time, and we never heard back from you about payment. Your MadBooker account has now been closed.

%p
  If you meant to cancel your account, we bid you farewell and hope to see you again someday.

%p
  If you really didn’t mean to go, please contact us for help. We’d love to have you back.

%p
  Thanks!
  %br
  Your friends at MadBooker