- title "It's working ..."


#top_area
  %h1 Add guest booking to your website in a few clicks
  %h2 Simple booking features to help you make more money
  %p
    Curabitur consectetur purus dolor, vitae mattis lacus suscipit eget. Morbi rhoncus mi sit amet lacus tincidunt tempor. Sed fermentum dolor non augue sollicitudin rutrum. Nulla vel mi porta, tristique ligula in, convallis velit. Duis varius magna eu velit pellentesque, eget malesuada lectus posuere. Nunc in euismod quam, id aliquet metus. Praesent ut sodales lorem. Sed gravida rutrum tempus. Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla
  %p
    Curabitur consectetur purus dolor, vitae mattis lacus suscipit eget. Morbi rhoncus mi sit amet lacus tincidunt tempor. Sed fermentum dolor non augue sollicitudin rutrum. Nulla vel mi porta, tristique ligula in, convallis velit. Duis varius magna eu velit pellentesque, eget malesuada lectus posuere. Nunc in euismod quam, id aliquet metus. Praesent ut sodales lorem. Sed gravida rutrum tempus. Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla

  #points
    .point
      %h2
        Easy to Use
      %p
        Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla

    .point
      %h2
        Turn Website Visitors into bookings!
      %p
        Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla

    .point
      %h2
        Simple &amp; Effective Reports
      %p
        Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla