- title "It's working ..."

#green_area
  .container
    #top_area
      %h1 Easy Online Booking just like a Hawaiian Breeze 
      %h3 Our software is perfect for BNB's, small hotels and Vacation Rentals.
    #reasons_holder
      .reasons
        %h3 Switching Your Booking Software
        %h4 Other booking software is meant for giant hotel chains.
        %ul
          %li Fast-loading, powerful reports.
          %li Increase bookings via better design.
          %li Google Analytics Integration.
          %li Easy Pricing, No Sales People.
          %li Modern design that gets out of your way.
          %li blab lbahd
      .reasons
        %h3 Picking Your First Booking Software
        %h4 We're better than Excel, here's why...
        %ul
          %li Reports to help you make decisions
          %li Simple traffic reports, Google Analytics integration.
          %li Guest Check-in features, front-desk workflows.
          %li Affordable pricing for small hospitality providers.
          %li Spend less time in your software.
          %li No setup fees, cancel anytime.

#green_area2
  .container
    #points
      .point
        %h2
          = link_to 'Small Hotels', '#'
        %p
          Spend less time in your revenue / booking software and more time helping your guest, hiring helpful, happy staff and ensuring your hotel is clean.

      .point
        %h2
          = link_to 'Bed & Breakfasts', '#'
        %p
          You need a simple tool that helps you manage booking and revenue reports. Our tool allow you to focus your attention on your guests, making sure they're happy.

      .point
        %h2
          = link_to 'AirBnb Hosts', '#'
        %p
          AirBnb has given many people the ability to earn additional income but Proin neque orci, ultricies sed urna et, pellentesque condimentum erat.
      .point
        %h2
          = link_to 'Vacation Rentals', '#'
        %p
          Ensure your guests have an easy booking experience for their vacation rental. Renting your second home is not your full-time job so you need a simple tool.

#download_third
  .container
    .download_this

    .content
      %h2
        Accessible, Affordable and Awesome
      %p
        Your guests expect and deserve an efficient, stress-free experience when they move from your website to your booking engine. We can provide that.

      %p
        You and your staff deserve a modern, stress-free experience when you upload inventory, change rates, and pull reports. We can provide that too.

      %p
        MadBooker makes online booking software accessible, affordable and awesome for anyone offering rooms online. Set it up online, and it just works. (Spoiler: You won’t find anything else that compares for the price.) If you’re on a small budget, we know you won’t get this level of awesomeness (ie, top-notch, US-based design, usability and coding) anywhere else.

      %p
        Add MadBooker to your hotel website in just a few clicks. 
        We invite you to try us for free for 30 days. After that, our monthly fee is $49. 

      %p
        The hours you save by using a booking engine that is faster and easier will easily offset our low monthly fee. But you’ll also see a jump in online revenue, as guests make it through the booking process more quickly and with more confidence.
