- title "It's working ..."


#top_area
  %h1 Easy Online Booking just like a Hawaiian Breeze 
  %h3 Our software is perfect for BNB's, small hotels and Vacation Rentals.
#reasons_holder
  .reasons
    %h3 Switching Your Booking Software
    %h4 Other booking software is meant for giant hotel chains.
    %ul
      %li Fast-loading, powerful reports.
      %li Increase bookings via better design.
      %li Google Analytics Integration.
      %li Easy Pricing, No Sales People.
      %li Modern design that gets out of your way.
      %li blab lbahd
  .reasons
    %h3 Picking Your First Booking Software
    %h4 We're better than Excel, here's why...
    %ul
      %li Reports to help you make decisions
      %li Simple traffic reports, Google Analytics integration.
      %li Guest Check-in features, front-desk workflows.
      %li Affordable pricing for small hospitality providers.
      %li Spend less time in your software.
      %li No setup fees, cancel anytime.


#points
  .point
    %h2
      Small Hotels
    %p
      Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla

  .point
    %h2
      Bed &amp; Breakfasts
    %p
      Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla

  .point
    %h2
      AirBnb Hosts
    %p
      Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla

  .point
    %h2
      Vacation Rentals
    %p
      Proin neque orci, ultricies sed urna et, pellentesque condimentum erat. Donec sed faucibus lorem. Maecenas ulla


#download_third
  .download_this

  .content
    %h2
      Header here
    %p
      You and your staff also deserve a modern, stress-free experience when you upload inventory, change rates, and pull reports. We can provide that too.
    %p
      MadBooker makes online booking software accessible, affordable and awesome for anyone offering rooms online. Set it up online, and it just works. (Spoiler: You won’t find anything else that compares for the price.) If you’re on a small budget, we know you won’t get this level of awesomeness (ie, top-notch, US-based design, usability and coding) anywhere else.
