- title "It's working ..."


#setup
  %h1 Simple Features That You'll Love
  .feature_intro
    %p
      Curabitur consectetur purus dolor, vitae mattis lacus suscipit eget. Morbi rhoncus mi sit amet lacus tincidunt tempor. Sed fermentum dolor non augue sollicitudin rutrum. Nulla vel mi porta, tristique ligula in, convallis velit. Duis varius magna eu velit pellentesque.


      
