
%p
  Hi there,
%p
  This is your Low Inventory Report from Madbooker.com. On the following dates, your rooms inventory has reached or fallen below your threshold of #{@hotel.minimal_inventory_notification_threshold}.
  

- @inventories.each do |inventory|
  %div
    #{inventory.date} #{inventory.room_type.name} #{inventory.available_rooms - inventory.sales_count} room

%p
  We'll keep sending these reminders daily, to let you know how things are looking for the upcoming 30 days. Please log in to change your inventory threshold or add inventory.

%p
  Have an awesome day!

%p
  Your friends at Madbooker