
%div= date.day
- if show_details
  - @calendar.inventory_on( date).each do |inventory|
    .room_type
      .name 
        = inventory.room_type.name
      .available
        %span
          Available
        %span
          = inventory.available_rooms
      .booked 
        %span
          Booked 
        %span
          = inventory.sales_count
