

body#public
  //background: white
  .container
    width: 960px
  #page_white
    background: white
    border: 1px solid #666
    border-top: none
  #hotel_information
    +rel
    width: 500px
    margin: 0 auto
    #logo, #hotel_name
      width: 200px
      margin: 0 $pad 0 0
      +fl
    #hotel_name
      +bold
      font-size: 22px
      padding: 0 0 5px 0
      +tc
    #hotel_data
      +fr
      margin: 30px 0 0 0
      .hotel_data_column 
        margin: 0 auto
        font-size: 13px
        &:last-child
      .hotel_date
        +rel
        padding: 0 20px 0 21px
        i
          +abs
          top: 3px
          left: 0
      #hotel_address
        max-width: 260px
    #steps_list2
      +fr
      display: none
      margin: 20px 0 0 0
      ul li 
        list-style: none
        margin: 0 10px 0 0
        +fl
        a
          +block
          +fl
          width: 133px
          padding: 10px
          color: #999
          border: 1px solid #ccc
          +border-radius
          i
            display: none
          span
            +bold
            +block
            font-size: 13px
          &:hover
            background: #ddd
            +tdnone
          &.on
            color: #111
            border: 1px solid #333
            &:hover 
              background: none
              color: #111



  #page
    //border: 1px solid #ccc
  #steps_list
    display: none !important
    +fl
    width: 208px
    padding: 0 0 0 0
    ul 
      padding: 0 0 0 0
      margin: 0 0 0 0
      li
        list-style: none
        a
          +block
          padding: $pad
          border-bottom: 1px solid #ccc
          +bold
          color: black
          span
            +block
            font-weight: normal 
            i
              display: none
          &:hover
            +tdnone
            background: black
            color: white
          &.on
            background: white
            &:hover
              background: white
              color: black


  #content_steps
    //border-left: 1px solid #ccc
    //+fr
    background: white
    //width: 750px
    h1
      //background: $yellow
      padding: 20px $pad
      margin: 0 0 0 0
      font-size: 18px
    .steps
      //border-top: 1px solid #ccc
      padding: $pad
      &:first-child
        border-top: 0px
      +button
    .step_header
      font-size: 21px
      +clear
      +tc
      //margin: 0 0 $pad 0
      span
        +tc
      .step
        //+fl
        padding: 0 5px 0 0
        color: #666
      .step_title
        //+fl
        +bold
      i
        font-size: 18px
        margin: 0 5px 0 0
    #step1 
      border-top: 1px solid #ccc
      form
        width: 430px
        margin: 0 auto
        padding-top: $pad
      //background: $yellow
      div.input
        +fl
        margin: 0 20px 0 0
        width: 110px
      .form_action
        +fl
        margin: 24px 0 0 0
      .message
        +block
        +tc
        color: red
    #step2 
      margin: 0 auto
      border-top: 1px solid #ccc
      padding: $pad
      .room
        +clear
        +rel
        margin: 35px 0 0 0
        .data
          padding: 0 0 $pad 250px
          font-size: 13px
          min-height: 220px
        .image
          +abs
          top: 5px
          left: 0px
          img
        .name
          font-size: 18px
          +bold
        .description
          margin: 3px 0 0 0
          font-size: 14px
        .choose
      i
        font-size: 21px
    form
      padding: 15px 0 0 0


.pricing_holder
  padding: 10px 0 0 0
  .row
    div
      +fl
      &.label
        width: 220px
        +bold
      &.price, .old_price
        width: 90px
        +tr


#step3
  //width: 600px
  margin: 0 auto
  border-top: 1px solid #ccc
  padding: $pad
  //background: $yellow

  #checkout
    form
      width: 500px
      margin: 0 auto
    .fine_print
      font-size: 12px
      color: #666
      padding: 0 0 10px 0
    div.credit_card_number
      +span-columns(12 omega)
    div.security
      +span-columns(3 omega)
    div.month, div.year, div.zip_code
      +span-columns(3)
    div.year
      +span-columns(3)
    div.first_name, div.email, div.sms
      +span-columns(6)
    div.last_name, div.email_confirmation
      +span-columns(6 omega)
    .form-actions
      margin: 10px 0 0 0













