
@charset "utf-8"
@import compass
@import utils

$pad: 30px
$yellow: #fff5bd

body
  font-family: "arial"
  margin: 0px auto
  padding: 0px
  color: #333
  font-size: 14px
  line-height: 1.5em 
  background: #eee

a
  color: #3e86c5
  +tdnone
  &:hover
    color: #333
    text-decoration: underline

p
  line-height: 1.5em 
  
*
  +box-sizing(border-box)

#content
  min-height: 500px   
  padding: $pad
  background: white
  border: 1px solid #ccc

/////////////////////////////////
////////// Text Styles //////////

h1
  font-size: 24px
  +bold
  line-height: 100%
  color: #222
  margin: 0 0 5px 0
  a
    font-size: 16px
    font-weight: normal
    padding: 10px
h2
  font-size: 21px
  font-weight: normal
  line-height: 100%
  color: #333
  margin: 0 0 10px 0
h3
  font-size: 17px
  line-height: 100%
  margin: 0 0 20px 0
  font-weight: normal

h4
  font-size: 17px
  font-weight: normal
  line-height: 100%
  color: #888
  margin: 15px 0 20px 0
  

$simple_width: 500px
$width: 960px

.container_simple
  margin: 0 auto
  width: $simple_width
.container
  margin: 0 auto
  width: $width

div.input
  padding: 0 0 15px 0
  label
    +block
    padding: 0 0 3px 0
    font-size: 14px
  input[type=email], 
  input[type=password], 
  input[type=text], 
  input[type=number], 
  textarea,
  input[type="url"],
  input[type=tel]
    background: white !important
    padding: 10px
    font-size: 14px
    +arial
    border: 1px solid #999
    border-bottom: 1px solid #777
    margin: 0 0 0 0
    //+box-shadow(#bbb 0 3px 5px inset)
  textarea
    width: 100%
    height: 100px
  &.boolean
    +rel
    padding: 0 0 0 0
    input[type=checkbox]
      +abs
    label
      padding-left: 22px
      font-size: 12px
  span.hint
    +block
    font-size: 12px
    color: #555
  
#link a 
  +block
  font-size: 12px
  +tdnone
  padding: 10px 0 0 0
  color: #666


.form-actions
  input[type=submit]
    background: #555
    color: white
    padding: 10px 20px
    font-size: 14px
    //+border-radius
    +arial
    border: 1px solid #ccc
    &:hover
      background: #333

=form
  border: 1px solid #ccc
  background: white

#form_simple, #form
  +form

=button
  input[type=submit]
    padding: 10px 20px
    +tc
    background: #333
    color: white
    font-size: 14px
    +bold
    border: 1px solid #ccc
    +arial

#form  
  h1
    padding: $pad
    margin: 0 0 0 0
    background: $yellow
  .section
    padding: $pad $pad 0 $pad
    border-top: 1px solid #ccc
    h3
      padding-top: 0px
      margin-top: 0px
      font-size: 20px
  .form_action
    padding: ($pad / 2) $pad
    border-top: 1px solid #ccc
    background: #ccc
    +button

#form_simple
  width: 400px
  padding: $pad










body#public
  background: white
  #page
    background: white
    border: 1px solid #ccc
    width: 600px
    margin: 0 auto
    h1
      background: $yellow
      padding: $pad
      margin: 0 0 0 0
    .steps
      border-top: 1px solid #ccc
      padding: $pad
      &:first-child
        padding-top: 0px
      +button
    .step_header
      font-size: 16px
      +clear
      .step
        +fl
        padding: 0 15px 0 0
        color: #666
      .step_title
        +fl
        +bold
      i
        +fl
        font-size: 18px
        margin: 0 15px 0 0
    #step1 
      div.input
        +fl
        margin: 0 20px 0 0
        width: 150px
      .form_action
        +clear
    #step2 i
      font-size: 21px
    form
      margin: 15px 0 0 0
    .room
      border: 1px solid #ccc
      padding: $pad
      margin: 20px 0 0 0
      .name
        +bold
        font-size: 15px
      .description
        margin: 3px 0 0 0


.pricing_holder
  padding: 10px 0 0 0
  .row
    div
      +fl
      &:first-child
        width: 220px
        +bold
      &:last-child
        width: 90px
        +tr

$icon: 50px
$navwidth: ($width - ($icon * 2)) / 5

#nav
  ul
    margin: 0 0 0 0
    padding: 0 0 0 0
    li 
      padding: 0 0 0 0
      +fl
      +rel
      &.dropdown
        ul 
          +abs
          z-index: 9
          top: 42px
          left: 0
          li
            float: none
            padding: 0 0 0 0
            padding: 0 0 0 0 
            a 
              +block
              float: none
              font-size: 13px !important
              background: #333
              &:hover
                background: #888
      a
        +block
        padding: 10px 15px
        +tc
        color: white
        width: $navwidth
        font-size: 13px
        border: 1px solid #666
        border-left: none
        +background-image(linear-gradient(rgba(1, 1, 1, .35), rgba(1, 1, 1, .5)))
        &:hover
          +tdnone
          +background-image(linear-gradient(rgba(1, 1, 1, .45), rgba(1, 1, 1, .65)))
        i
          font-size: 16px
          margin: 0 3px 0 0
      &.home a
        font-size: 17px
        padding: 12px 10px 11px 10px
        color: #eee
        border-left: 1px solid #666
        width: $icon
      &.logout a
        font-size: 16px
        padding: 13px 12px 11px 12px
        color: #eee
        width: $icon




#footer
  font-size: 12px
  padding: 20px 0
  color: #777
  +tr
  #copyright
    margin-right: 5px
  #legal
    a
      padding: 5px
      color: #999
      text-decoration: underline
      &:hover
        +tdnone


#filters a
  padding: 7px 10px
  background: #eee
  +block
  +fl
  margin-right: 5px
  &:hover
    background: #333
    color: white
    +tdnone

///// calendar stuff

th.monthName
  font-size: 22px
  padding: 10px 0
td.day
  font-size: 12px
  .room_type, .no_inventory
    width: 102px
  .room_type
    padding: 5px 0
    width: 102px
    .row
      line-height: 120%
    .name
      +bold
      font-size: 13px
    .available, .booked 
      span
        &:first-child
          color: #ddd
          width: 30px
          +fl
        &:last-child
          color: white
          width: 50px
          +fr
          +tr


#calendar_year
  .calendar_month
    +fl
    padding: 40px 0 0 0
    &:nth-child(3n+2)
      padding-left: 35px
      padding-right: 35px
abbr[title]
  border-bottom: none !important







table.standard
  width: 100%
  border: 1px solid #ccc
  border-bottom: none
  margin: 20px 0
  tr th, tr td
    padding: 10px
    +tl
    border-bottom: 1px solid #ccc
    border-right: 1px solid #ccc
  tr th
    background: #eee
    color: #333
    font-weight: normal
  tr td.actions a
    padding-right: 10px
  tr:nth-child(even) td
    background: $yellow


/// dashboard

.number_of_searches,
.total_revenue,
.revenue_by_room_type,
.look_to_book
  border: 1px solid #ccc
  padding: 20px
  margin: 20px 0
  .header
    +bold
    font-size: 16px
    margin: 0 0 5px 0

























