
@charset "utf-8"
@import compass
@import utils
@import normalize
@import susy

$pad: 30px
$yellow: rgba(254, 249, 223, 1)


body
  font-family: "arial"
  margin: 0px auto
  padding: 0px
  color: #333
  font-size: 14px
  line-height: 1.5em 
  background: #70b0af

a
  color: rgba(78, 122, 121, 1)
  +tdnone
  &:hover
    color: #333
    text-decoration: underline

p
  line-height: 1.5em 
  
*
  +box-sizing(border-box)

#content
  min-height: 250px   
  //padding: $pad
  background: white
  border: 1px solid #406463
  +box-shadow(rgba(#333, 0.4) 0 0 11px 1px)
  #header
    background: #eee
    border-bottom: 1px solid #ccc
    padding: $pad
    h1
      padding: 0 0 0 0
      margin: 0 0 0 0
  #data
    padding: $pad




/////////////////////////////////
////////// Text Styles //////////

h1
  font-size: 24px
  +bold
  line-height: 100%
  color: #222
  margin: 0 0 5px 0

h2
  font-size: 21px
  font-weight: normal
  line-height: 100%
  color: #333
  margin: 0 0 10px 0
h3
  font-size: 17px
  line-height: 100%
  margin: 0 0 20px 0
  font-weight: normal

h4
  font-size: 17px
  font-weight: normal
  line-height: 100%
  color: #888
  margin: 15px 0 20px 0
  


.container_simple
  margin: 0 auto
  width: $simple_width
.container
  margin: 0 auto
  width: $width


#hotel_edit
  #form
    padding: 0 0 0 0
    border: none
    h1
      display: none
    .section
      border-top: none
    #logo
      img
        +fl
      a.delete_logo
        padding: 10px
        margin: 10px 0 0 10px
        font-size: 13px
        +fl



body#public
  background: white
  .container
    width: 600px
  #hotel_information
    //padding: $pad 0 0 0
    .logo
      +fl
      margin: 20px 0 0 0
    #hotel_data_holder 
      +fl
      margin: 0 0 0 40px
      font-size: 13px
      .hotel_date
        +rel
        padding: 2px 0 2px 25px
        i
          +abs
          top: 5px
          left: 0
      #hotel_name
        +bold
        margin: 20px 0 3px -25px
        font-size: 14px
      #hotel_address
      #hotel_phone
      #hotel_website
  #page
    background: white
    border: 1px solid #ccc
    //width: 600px
    margin: $pad 0 0 0
    //+fr
    h1
      background: $yellow
      padding: 20px $pad
      margin: 0 0 0 0
      font-size: 18px
    .steps
      border-top: 1px solid #ccc
      padding: $pad
      &:first-child
        border-top: 0px
      +button
    .step_header
      font-size: 16px
      +clear
      .step
        +fl
        padding: 0 15px 0 0
        color: #666
      .step_title
        +fl
        +bold
      i
        +fl
        font-size: 18px
        margin: 0 15px 0 0
    #step1 
      div.input
        +fl
        margin: 0 20px 0 0
        width: 150px
      .form_action
        +clear
    #step2 i
      font-size: 21px
    form
      margin: 15px 0 0 0
    .room
      border: 1px solid #ccc
      padding: $pad
      margin: 20px 0 0 0
      .name
        +bold
        font-size: 15px
      .description
        margin: 3px 0 0 0


.pricing_holder
  padding: 10px 0 0 0
  .row
    div
      +fl
      &:first-child
        width: 220px
        +bold
      &:last-child
        width: 90px
        +tr


$navwidth: ($width - ($icon * 2)) / 5

#nav
  +box-shadow(rgba(#333, 0.4) 0 0 11px 1px)
  ul
    margin: 0 0 0 0
    padding: 0 0 0 0
    li 
      padding: 0 0 0 0
      +fl
      +rel
      &.dropdown
        ul 
          +abs
          z-index: 9
          top: 42px
          left: 0
          li
            float: none
            padding: 0 0 0 0
            padding: 0 0 0 0 
            a 
              +block
              float: none
              font-size: 13px !important
              background: #333
              &:hover
                background: #888
      a
        +block
        padding: 10px 15px
        +tc
        color: white
        width: $navwidth
        font-size: 13px
        border: 1px solid #406463
        border-left: none
        border-top: none
        +background-image(linear-gradient(rgba(95, 150, 149, .9), rgba(78, 122, 121, 1)))
        &:hover
          +tdnone
          +background-image(linear-gradient(rgba(1, 1, 1, .45), rgba(1, 1, 1, .65)))
        i
          font-size: 16px
          margin: 0 3px 0 0
      &.home a
        font-size: 17px
        padding: 12px 10px 11px 10px
        color: #eee
        border-left: 1px solid #666
        width: $icon
      &.logout a
        font-size: 16px
        padding: 13px 12px 11px 12px
        color: #eee
        width: $icon



#box
  +background-image(linear-gradient(rgba(1, 1, 1, .05), rgba(1, 1, 1, .15)))
  +border-radius
  padding: 12px 15px
  border-bottom: 1px solid #777
  border: 1px solid #999
  margin: 15px 0 0 0
  +fl
  input#daypicker, input[type=text]
    +input
    +fl
    width: 150px !important
  input#daypicker
    border-right: none
  form
    +fl
    display: inline !important
    +button
  input[type=submit]
    margin: 0 0 0 12px


=header-style
  +background-image(linear-gradient(rgba(242, 242, 242, 1), rgba(209, 207, 207, 1)))
  border: 1px solid #999
  padding: 7px 15px
  +block
  +fl
  color: #333
  font-size: 13px
  border-bottom: 1px solid #777
  &:hover
    background: #333
    color: white
    +tdnone

#filters 
  margin: 10px 0 0 0
  a
    +header-style
    border-right: none
    &.on
      background: white
      +box-shadow(rgba(#333, 0.21) 0 0 5px 1px inset)
      &:hover
        cursor: auto
        color: #333
    i
      margin: 0 4px 0 0
    &:first-child
      +border-top-left-radius
      +border-bottom-left-radius
    &:last-child
      +border-top-right-radius
      +border-bottom-right-radius
      border-right: 1px solid #999


a.create
  +header-style
  margin: 10px 0 0 0
  +border-radius
  i
    font-size: 12px
    margin-right: 5px



///// calendar stuff


.month_calendar
  table
    width: 100%
    td.day, td.otherMonth
      border: 1px solid #ccc
      padding: 10px
      +rel
      .room_type
        .available
          color: #333
        .booked
          color: #333

    th.monthName
      font-size: 18px
      padding: 0 0 10px 0
    td.day
      font-size: 12px
      +rel
      .day_number
        +bold
        font-size: 16px
      .room_type, .no_inventory
        width: 102px
      .room_type
        padding: 5px 0
        width: 102px
        .row
          line-height: 120%
        .name
          font-size: 13px
        .available, .booked 
          span
            &:first-child
              color: #888
              width: 30px
              +fl
            &:last-child
              color: #888
              width: 50px
              +fr
              +tr

#instructions
  border-bottom: 1px solid #ccc
  padding: 20px
  +tc
  +bold
  font-size: 15px
  color: #444
  background: $yellow

$calendarwidth: ($width - 2px) / 4

#calendar_year
  .calendar_month
    +fl
    padding: 20px 0 0 0
    border-right: 1px solid #ccc
    border-bottom: 1px solid #ccc
    height: 260px
    width: $calendarwidth
    &:nth-child(3n+3)
      border-right: none
    table 
      margin: 0 auto
      tr
        th, td
          padding: 4px
          +tc 
        th
          font-size: 11px
          font-weight: normal
          color: #999
          &.monthName
            +bold
            font-size: 15px
            padding: 0 0 0 0
            color: #333
        td
          &.day
            border: 1px solid #ccc
            font-size: 11px
          &.weekendDay
            background: #eee
          
abbr[title]
  border-bottom: none !important







table.standard
  width: 100%
  border: 1px solid #ccc
  border-bottom: none
  tr th, tr td
    padding: 10px
    +tl
    border-bottom: 1px solid #ccc
    border-right: 1px solid #ccc
  tr th
    background: #eee
    color: #333
    font-weight: normal
  tr td.actions a
    padding-right: 10px
  tr:nth-child(even) td
    background: $yellow

table.standard2
  width: 100%
  border: 1px solid #ccc
  border-bottom: none
  tr th, tr td
    padding: 5px
    font-size: 12px
    +tl
    border-bottom: 1px solid #ccc
    border-right: 1px solid #ccc
  tr th
    background: #eee
    color: #333
    font-weight: normal
  tr td.actions a
    padding-right: 10px
  tr:nth-child(even) td
    background: $yellow

/// dashboard

//.revenue_by_room_type,
//.look_to_book
//  border: 1px solid #ccc
//  padding: 20px
//  margin: 20px 0
//  .header
//    +bold
//    font-size: 26px
//    margin: 0 0 5px 0


.revenue_by_room_type
  .room_type
    border-top: 1px solid #ccc
    font-size: 13px
    border-left: 1px solid #ccc
    div
      height: 77px
    .name
      width: 300px
      padding: 31px 28px
      background: #eee
      +fl
      +bold
      +tr
    .daily_average
      border-left: 1px solid #ccc
    .week,
    .month_row,
    .daily_average
      border-right: 1px solid #ccc
      padding: 20px
      +fl
      width: 199px
      span
        +block
        +tc
        &:last-child
          color: #777
          margin-top: 3px
        &:first-child
          font-size: 32px
          +bold

$data_width: ($width - (($pad * 2)) - 3px) / 4

.number_of_searches, .total_revenue, .rev_par, .revenue_by_room_type, .revenue_by_room_type
  margin: 0 0 40px 0
  +clear
  border-bottom: 1px solid #ccc
  .header
    padding: 0 0 10px 0px
    font-size: 18px
    +bold
    i
      margin: 0 1px 0 0
  .label
    padding: 10px
    background: #eee
    color: #333
    font-size: 14px
    +tc
    border: 1px solid #ccc
    border-bottom: none
  .data
    +fl
    +rel
    padding: 20px 20px 20px 20px
    border: 1px solid #ccc
    height: 115px
    border-bottom: none
    border-right: none
    width: $data_width
    +box-shadow(rgba(#333, 0.04) 0 0 11px 1px inset)
    &:last-child
      border-right: 1px solid #ccc
      background: $yellow
      width: $data_width + 1px
    .add, .equal
      +abs
      top: 42%
      right: -14px
      padding: 3px 17px 3px 9px
      +tl
      background: white
      border: 1px solid rgba(1, 1, 1, .32)
      +border-radius(50%)
      width: 20px
      z-index: 2
      +box-shadow(rgba(#333, 0.1) 0 0 4px 1px)

    .what
      +tc
      margin: 0 0 5px 0
      color: #888
      font-size: 13px
    .number
      font-size: 31px
      +bold
      margin: 0 0 0 -7px
      +tc
      span
        font-size: 20px
        font-weight: normal
        margin: 0 -7px 0 0
        color: #666
    .where
      font-size: 13px
      margin: 0 0 0 0
      padding: 5px 0 0 0
      color: #666
      +tc
      span
        padding: 2px 0 0 0
      i
        font-size: 16px
        &.icon-mobile-phone
          font-size: 20px


#ui-datepicker-div
  background: white
  +border-radius
  border: 1px solid #bbb
  +box-shadow(rgba(#333, 0.25) 0 2px 10px 1px)
  padding: 10px


#current_team, #right_column
  +fr
  width: 430px
  h3
    margin: 0 0 10px 0
#invite, #form_column
  +fl
  width: 430px
  border: 1px solid #bbb
  padding: $pad
  //background: $yellow
  +background-image(linear-gradient($yellow, rgba(237, 233, 208, 1)))


.hidden
  display: none

/*calendar*/
.day_selectable.selected
  background: darken($yellow, 10%)



input:required:invalid, input:focus:invalid, input.invalid
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC')
  background-position: right top
  background-repeat: no-repeat
  -moz-box-shadow: none

input.valid, input:required:valid
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=')
  background-position: right top
  background-repeat: no-repeat




////// forms



//$total-columns: 4 // 12 columns
//$column-width: 100px // columns are 4em wide
$gutter-width: 1.5em // with 1em gutters
$grid-padding: $pad // and 1em padding on the grid container


#form_simple_header
  background: #eee
  border-bottom: 1px solid #ccc
  padding: $pad
  h3
    margin: 0 0 0 0

#form_simple
  padding: $pad    
  +container
  div.email
    +span-columns(12 omega)
  div.password
    +span-columns(6)
    &:nth-child(4)
      +span-columns(6 omega)
  div.credit_card_number
    +span-columns(12 omega)
  div.security
    +span-columns(4 omega)
  div.month
    +span-columns(4)
    +hide_search
  div.year
    +span-columns(4)
    +hide_search
  div.email_login
    +span-columns(8)
  div.password_login
    +span-columns(4 omega)
  .form-actions
    +rel
    margin: 10px 0 0 0
    div.remember_login
      +abs
      top: 8px
      left: 100px
      font-size: 12px
      input
        margin: 0 5px 0 0
  h3
    margin: 0 0 15px 0
    padding: $pad 0 0 0
    +clear
    +bold
    &:first-child
      padding-top: 0px
    i
      margin: 0 4px 0 0
      font-size: 15px

#checkout
  +container
  div.credit_card_number
    +span-columns(12 omega)
  div.security
    +span-columns(3 omega)
  div.month, div.year, div.zip_code
    +span-columns(3)
  div.year
    +span-columns(3)
  div.first_name, div.email, div.sms
    +span-columns(6)
  div.last_name, div.email_confirmation
    +span-columns(6 omega)
  .form-actions
    margin: 10px 0 0 0

.edit_addon, .edit_package
  div.input
    +span-columns(6)
  div.boolean
    padding: 5px 0

.edit_guest
  .room_type_name
    padding: 0 0 15px 0
    +clear
  div.arrival,
  div.departure
    +span-columns(2)
  div.email_confirmation,  
  div.last_name,
  div.your_first_name,
  div.first_name,
  div.email,
  div.credit_card,
  div.sms
    +span-columns(3)
  div.cc_month,
  div.cc_year
    +span-columns(1)
  div.cc_zip,
  div.cvc
    +span-columns(2)
  div.your_last_name
    +span-columns(3 omega)
  .form-actions 
    margin-top: 10px


#form
  div.time_zone
    +span-columns(3)  
  div.hotel_name
    +span-columns(6)
  div.email
    +span-columns(3 omega)  
  div.phone
    +span-columns(3)
  div.fax
    +span-columns(3 omega)
  div.inventory_threshold
    +span-columns(4)

  div.room_name
    +span-columns(6)    
  div.number_of_rooms,
  div.default_rate
    +span-columns(2)
  div.discounted_rate
    +span-columns(2 omega)
  
  div.currency
    +span-columns(2)
  div.website_url
    +span-columns(6)    
  div.subdomain
    +span-columns(6 omega)  
  div.address,
    +span-columns(6)
  div.address2,
  div.country
    +span-columns(3)
  div.address3
    +span-columns(3 omega)
  div.city
    +span-columns(4)
  div.state
    +span-columns(2)  
  div.postal_code
    +span-columns(3 omega)

  .fields
    border: 1px dotted #777
    padding: 20px
    background: #eee
    margin: 0 0 20px 0
    +rel
    .remove 
      +tr
      //+abs
      //bottom: 10px
      //right: 20px
      a
        +block
        color: red
        font-size: 12px
        i
          margin: 0 3px 0 0
.button_footer
  padding: $pad
  background: #eee
  border-top: 1px solid #ccc
a.add_link 
  +clear
  +block
  color: rgba(78, 122, 121, 1)
  padding: 0 0 20px 0



#guest_data
  border: 1px solid #ccc
  padding: 20px
  margin: 10px 0 0 0
  +rel
  #filters
    +abs
    top: -30px
    z-index: 2
    left: 20px
  #status
    color: #333
    padding: 10px 0
    margin: 10px 0
    +bold
  .row
    padding: 3px 0
    span
      &:first-child
        width: 120px
        +fl
        color: #666
      &:last-child
        width: 500px
        +fl
        color: #333

#inventories_form
  form
    +abs
    top: 0px
    left: 50%
    margin-left: -300px
    width: 600px
    background: white
    border: 1px solid #999
    //padding: $pad
    +box-shadow(rgba(#333, 0.5) 0 2px 40px 11px)
    .fields
    div.input
      +span-columns(4)
      &:nth-child(4n-4)
        +span-columns(4 omega)

    .room_type_inventor
      padding: ($pad - 10px) $pad 10px $pad
      border-bottom: 1px solid #ccc
      h3
        margin: 0 0 10px 0
        padding: 0 0 0 0
    .form-actions
      padding: $pad
      background: #eee


#filters
  +fl
#dates_text_fields
  +fl
  margin: 10px 0 0 10px
  input
    +input
    width: 100px !important
    &#date_start
    &#date_end





@import choosen






















