
%h1
  = current_hotel.name


#tabs
  %ul
    %li
      %a{href:"#info"}Info
    %li
      %a{href:"#people"}People

  #info
    = render partial: "/hotels/form/form"
  #people
    = render "/hotels/form/members"

