

= render "/reports/show/nav"

    
#data 
  #adr_graph
    :coffeescript
      data = #{@adr.adr_data}
      MB.Graphs.Line.render "#adr_graph", "Average Daily Rate", data

  Madbooker ADR is based on the time period during which bookings were made.
  %br
  Example: September ADR = Total revenue booked in September / Number of nights booked in September.
  
      
      
    