

= render "/reports/show/nav"

#data   
  #funnel_graph
    :coffeescript
      data = #{@funnel.data}
      MB.Graphs.Bar.render "#funnel_graph", "Sales Funnel", data
  #h3
    This report displays the number of times an action was performed; the same guest may perform an action more than once.


      
    
    