

= render "/reports/show/nav"

    
#data 
  #revenue_graph
    :coffeescript
      data = #{@revenue.revenue}
      MB.Graphs.Line.render "#revenue_graph", "Actualized Revenue", data, null, "Dollars"

  #booking_graph
    :coffeescript
      data = #{@revenue.booking}
      MB.Graphs.Line.render "#booking_graph", "Booking Totals", data, null,  "Room Nights"
  %h3
    Revenue reports include all bookings that have been marked as Paid.
      
    
    
    