
= render "/reports/show/nav"
= render "/reports/show/ga_nav"

#data   
  #ga
    #ga_graph
      :coffeescript
        data = #{@data}
        MB.Graphs.Line.render "#ga_graph", "Visits", data, true


    
  