

<script type="text/javascript" src="//use.typekit.net/chf3bqp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

:javascript
  (function() {var s=document.createElement('script');
    s.type='text/javascript';s.async=true;
    s.src=('https:'==document.location.protocol?'https':'http') +
    '://madbooker.groovehq.com/widgets/48a9b83c-ef19-44e1-b28b-2a52370f51a0/ticket.js'; var q = document.getElementsByTagName('script')[0];q.parentNode.insertBefore(s, q);})();
